:root {
  --color1: #2b2d42;
  --color2: #8d99ae;
  --color3: #1a1d3d3a;
  --color4: #02041b46;
}

a{
  color: white !important;
  text-decoration: none !important;
}
nav {
  display: flex;
  width: 100%;
  height: 60px;
  background-color: var(--color1);
  color: white;
  font-weight: bold;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px black;
}

nav .a {
  margin: 5px;
  padding: 5px;
  padding-top: 25px;
  padding-bottom: 18px;

}

nav .a:hover {
  border-bottom: 2px solid red;
  background-color: #3239778f;
  cursor: pointer;
}
.logo-text{
display: none;
}
.Logo{
filter: invert(100%);
position: absolute;
top: 0;
left: 0;
padding:5px 5px;
margin-top: 10px;
margin-left: 40px;
border-radius: 55px;
background-color: none;
}
.Logo:hover{
  background-color: rgba(90, 90, 90, 0.24);
  cursor: pointer;

}
#nav2{
  transition: 0.2s all;
  z-index: 1000;
  position: fixed;
  display: flex;
  width: 100%;
  padding: 0px;
  height: 25px;
  background-color: var(--color2);
  color: white;
  font-weight: bold;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 15px black;
  border-bottom: 2px solid black;
}
#nav2 a {
  margin: 0px;

  padding: 0px;
  border-right: 1px solid black;
  padding: 5px 3px;
  font-size: 10px;
}

#nav2 a:hover{
  outline: 1px solid white;
  background-color: rgba(0, 0, 0, 0.151);
  border-right: 1px solid black;
  cursor: pointer;
}


*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: #fff;
}
#burger{
  position: absolute;
  right: 0;
  margin-top: 0px;
  margin-right: 40px;
  padding:10px 5px;
  border-radius: 55px;
  background-color: none;
}

#burger div{
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px;
  border-radius: 3px;
  transition: 0.2s all ;
}
#burger:hover{
  background-color: rgba(189, 189, 189, 0.24);
  cursor: pointer;
}

#search{
  z-index: 100;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 15px;
  margin-right: 100px;
padding: 5px;
border-radius: 5px;
}

#search:hover{
  background-color: rgba(189, 189, 189, 0.24);
    cursor: pointer;
}
#b{
  transform: rotate(0deg);
}
#c{
  display: block;
}
#d{
  display: block;
}
#sideMenu{
  z-index: 1010;
  overflow: hidden;
  position: fixed;
  border-right: 1px solid black;
  box-shadow: 0px 0px 5px black;
  left: 0;
  transform: translateX(-200px);
  transition: 0.3s all;
  height: 100vh;
  padding-right: 60px;
  display: flex;
  background-color: var(--color1);
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: stretch;
}
#sideMenu ul{
  width: 100%;
  text-align: left;
  margin-top: 60px;
}
#sideMenu li{
  width: 100%;
  padding: 5px;
  margin-left: 15px;
  color: white;
list-style: none;
border-radius: 5px;
margin-bottom: 5px;
font-weight: 500;
}

#sideMenu li:hover{
  cursor: pointer;
  background-color: #7f808d;
  color: black;

  box-shadow: 0px 0px 10px white;
}
#Bigsearch{
transition: 1s all;
width: 30px;
display: none;
padding: 2px;
border-radius: 5px;
background-color: var(--color1);
border: 1px solid white;
position: absolute;
right: 0;
margin-top: 20px;
top:0;
z-index: 101;
margin-right: 100px;
-webkit-animation: slide-in-fwd-right 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
animation: slide-in-fwd-right 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
#Bigsearch input{
background-color: rgba(255, 255, 255, 0);
border: none;
margin-left: 4px;
color: white;
font-size: medium;
}

#Bigsearch ::placeholder{
  color:  white;
  font-size: medium;
}
#Bigsearch ::placeholder:focus{
border: none;
}
.Black{
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: none;
  background-color:  none;
}
#Bigsearch input:focus, input:focus{
  outline: none;
}
#colors{
  display: flex;
  margin-top: 60vh;
  margin-left: 50%;
  border-radius: 55px;
  flex-direction: row;
  align-content: center;
  align-items: center;
}
#colors:hover{
cursor: pointer;
}
#colorpalletes{
  transition: 0.3 all;
  position: absolute;
  bottom: 0;
  margin-bottom: 8vh;
  margin-left: 45px;
  background-color: var(--color1);
  outline: 1px solid white;
  border-radius: 5px;
  display: flex;
  padding: 20px;
  color:  white;
  align-items: center;
  transform: translateX(-400px);
}
#colorpalletes div:nth-child(2){

margin: 5px;
width: 40px;
height: 40px;
outline: 1px solid white;
background-color: #422b2b;
}
#colorpalletes div:nth-child(3){
width: 40px;
height: 40px;
background-color: #2b2d42;
outline: 1px solid white;
}
footer{
  width: 100%;
  height: 300px;
  background-color: var(--color1);
  position: absolute;
  bottom: 0;
  border-top: 3px solid black;
  box-shadow: 0px 0px 5px;
}
.carroselImg{
width: 100%;
max-height: 650px;
min-height: 250px;
}
.carro{
  width: 100% !important;
  left: 50%;
  transform: translate(-50%);

}
.carros{

  width: 70% !important;
  left: 50%;
  transform: translate(-50%);
}
.Container:first-child{
  width: 45%;
}
.Container{
  box-shadow: rgb(100, 100, 111) 0px 7px 29px 0px;
  margin: 60px;
  padding: 10px 25px;
  background-color: var(--color1);
  border-radius: 5px;
color:  white;
  border: 1px solid black;
}
.Container h1{
  color: var(--color2);
}
.itemC{
  width: 100%;
    display: flex;
    transition: 0.1s all;
  border-radius: 5px;
  padding: 20px;
  border: 1px solid black;
  background-color: var(--color4);
}
.itemC:hover{
box-shadow: 0px 0px 15px black;

}
.itemC img{
  height: 150px;
}
.textsC .cap{
padding: 5px 10px;
margin: 0px;
background-color: var(--color2);
border-radius: 5px;
border: 1px solid rgb(255, 255, 255);
}
.textsC .at{
  text-transform: uppercase;
  font-weight: 700;
  color: #ffc83d !important;

}
.textsC{
  margin-left: 40px;
}
.textsC .cat{
  margin: 0px;
  display: flex;
  padding: 0px;
  margin-left: 5px;
}
.Container h4{
font-weight: 200;
}
.Container h4::before{
  content: 'Autor: ';
}
.Container div{
  margin-top: 10px;
}
.cat h5{
  font-size: small;
  padding: 2px 5px;
  border-radius: 25px;
  background-color: var(--color2);
  margin-left: 10px;
  border: 1px solid rgb(255, 255, 255);
}
.cat::before{
  content: 'Generos: ';
}
.all{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}
.MostC{

  color: var(--color2);
  display: flex;
height: auto;
padding: 5px;
counter-increment: myIndex;
}
.MostC img{
  height: 150px;
}
.MostC::before{
  margin-right: 3px;
  content:counter(myIndex);
  font-size:10vh;
  font-weight: 100;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: var(--color2);
}
.cate{
  display: flex;
  width: 200px;
  flex-direction: row;
  margin-left: 5px;
  flex-wrap: wrap;
}
.cate h5{
  font-weight: 100;
  font-size: small;
}
.texts h3{
margin-left: 5px;
}
.cate h5::after{
  content: ',';
}
.textsC h3{
margin-bottom: 15px;
font-size: large;
padding: 0px;


}
.textsC h4{
  margin-top: 10px;
  font-size: medium;
  margin-bottom: 10px;
  }
.cap{
margin-top: 5px;
}

@-webkit-keyframes slide-in-fwd-right{0%{-webkit-transform:translateZ(-1400px) translateX(1000px);transform:translateZ(-1400px) translateX(1000px);opacity:0}100%{-webkit-transform:translateZ(0) translateX(0);transform:translateZ(0) translateX(0);opacity:1}}@keyframes slide-in-fwd-right{0%{-webkit-transform:translateZ(-1400px) translateX(1000px);transform:translateZ(-1400px) translateX(1000px);opacity:0}100%{-webkit-transform:translateZ(0) translateX(0);transform:translateZ(0) translateX(0);opacity:1}}
@-webkit-keyframes slide-out-right{0%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}100%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}}@keyframes slide-out-right{0%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}100%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}}